@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Graphik'; /* Your desired font name */
  src: url('.././public/fonts/Graphik-Medium-Trial.otf') format('otf'); /* Example */
  font-weight: 400; 
  font-style: normal;
}

/* Apply Baloo font to the whole app */
html, body, #root {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Baloo 2", serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.swiper-pagination {
  position: relative !important; /* Keeps it within the section */
  margin-top: 20px; /* Adjust spacing */
  text-align: center;
}

.swiper-pagination-bullet {
  background: #AD954F !important; /* Set dot color */
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #AD954F !important; /* Active dot color */
  opacity: 1;
}
.partner-image {
  width: 100%;  /* Adjust size if needed */
}

.company-loop {
  position: absolute;
  left: 0;
  display: flex;
  animation: companyAnimation 20s linear infinite;
}

.company-image {
  height: 100px;  /* Adjust the size as needed */
  margin-right: 30px;  /* Adjust the spacing between logos */
}

@keyframes companyAnimation {
  0% {
      transform: translateX(100%);
  }
  
  100% {
      transform: translateX(-100%);
  }
}



@keyframes scroll {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(100%);
  }
}
.min-h-screen {
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .min-h-screen {
      min-height: auto;
  }
}
@media (max-width: 1024px) {
  .nav-menu {
    display: flex !important;
  };
}
/* Default padding */
.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

/* Responsive adjustments */
@media (max-width: 640px) {
  .px-20 {
      padding-left: 1rem;
      padding-right: 1rem;
  }
}

@media (min-width: 640px) {
  .px-20 {
      padding-left: 2rem;
      padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  .px-20 {
      padding-left: 2rem;
      padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .px-20 {
      padding-left: 5rem;
      padding-right: 5rem;
  }
}

@media (min-width: 1280px) {
  .px-20 {
      padding-left: 6rem;
      padding-right: 6rem;
  }
}
